<div id="content" class="site-content">
    <div id="primary" class="content-area column full">
        <main id="main" class="site-main" role="main">
            <div class=" d-flex flex-row searchfrom">
                <div class="col-6">
                    <input type="text" class="form-control" [(ngModel)]="filterObject.keyword" (keyup)="search()"
                        placeholder="Tìm kiếm sản phẩm">
                </div>
                <div class="col-3">
                    <select class="form-control" (change)="search()" [(ngModel)]="filterObject.orderBy" #ctrl="ngModel"
                        required>

                        <option *ngFor="let ord of orderCondition" [value]="ord.id">{{ord.name}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <select class="form-control" (change)="search()" [(ngModel)]="filterObject.categories"
                        #ctrl="ngModel" required>
                        <option value="" selected>Loại (All)</option>
                        <option *ngFor="let ord of cate" [value]="ord.id">{{ord.name}}</option>
                    </select>

                </div>
            </div>
            <div class="row">
           
                <div class="card col-3" style="margin: 10px 0px;" *ngFor="let pro of product  | paginate: {itemsPerPage: 8 , currentPage: page};">
                    <a
                      href="javascript:;"
                      routerLink="/shop/shopdetail/{{ pro.id }}"style="color: black;"
                    >
                      <img
                        class="card-img-top"
                        src="{{ pro.image }}"
                        alt="Card image cap"
                        style="height: 250px"
                      />
                      <div class="card-body">
                        <label
                          >{{ pro.price }} <i>VNĐ</i>
                          <b> (-{{ pro.sale }}%)</b></label
                        >
  
                        <p class="card-text">{{ pro.name }}</p>
                      </div>
                    </a>
  
                    <a href="#" class="card-footer" style="text-align: center"
                      ><i class="fas fa-cart-plus"></i
                    ></a>
                  </div>
              </div>
              <pagination-controls  (pageChange)="page = $event"></pagination-controls>
        </main>
        <!-- #main -->
    </div>
    <!-- #primary #00000085-->
</div>
<style>
    .searchfrom{
        width: 100%;
    }
    .card-footer:hover{
        background-color: #00000085;
        color: #fff;
    }
</style>