
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between bg-gray-900">
        <div class="row d-flex flex-row col-11">
            <div class="col-4">
                <input type="text" class="form-control" 
                    [(ngModel)]="filterObject.keyword"
                    (keyup)="search()"
                    placeholder="Tìm kiếm">
            </div>
            <div class="col-2">
                <select class="form-control" 
            
                    (change)="search()"
                    [(ngModel)]="filterObject.orderBy"#ctrl="ngModel" required>
                    
                    <option *ngFor="let ord of orderCondition" 
                            [value]="ord.id">{{ord.name}}</option>
                </select>
            </div>
            <div class="col-2">
                <select class="form-control" 
                    (change)="search()"
                    [(ngModel)]="filterObject.categories"#ctrl="ngModel" required>
                    <option value=""selected>Loại (All)</option>
                    <option *ngFor="let ord of cate" 
                            [value]="ord.id">{{ord.name}}</option>
                </select>
             
            </div>
            <div class="col-2">


                <select class="form-control" 
                    (change)="search()"
                    [(ngModel)]="filterObject.supplier"#ctrl="ngModel"  required>
                    <option value="" selected>Phân phối (All)</option>
                    <option *ngFor="let ord of suppli" 
                            [value]="ord.id">{{ord.name}}</option>
                </select>

              
            </div>
            <div class="col-1">
                <input type="number" class="form-control" 
                    [(ngModel)]="filterObject.pagesize"
                    (change)="size()"
                    placeholder="Tìm kiếm">
            </div>
           
           
        </div>
        <a href="javascript:;"class="btn btn-primary" routerLink="/admin/moster/mosterAdd">Add moster</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Category</th> 
                        <th>Supplier</th>   
                        <th>Name</th>
                        <th>Images</th>
                        <th>Price</th>
                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Category</th> 
                        <th>Supplier</th>   
                        <th>Name</th>
                        <th>Images</th>
                        <th>Price</th>
                        
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    <!-- <tr *ngFor="let cate of cates | paginate: { 
                        itemsPerPage: 2,
                         
                    currentPage:page ,
                    totalItems: cates.length }" style="text-align: center;"> -->

                    <tr *ngFor="let cate of cates  | paginate: {itemsPerPage: Pegesize , currentPage: page}; let i = index" >
                        <td>{{ i + 1 }}</td>
                        <td ><span *ngIf="cate.category != undefined">{{cate.category.name}}</span></td>
                        <td >{{cate.supplier.name}}</td>
                        <td>{{ cate.name | titlecase }}</td>
                        <td style="text-align: center;"><img src="{{cate.image }}" style="width:'100px'"alt="" ></td>
                        <td> {{cate.price}} VNĐ </td>                      
                        <td> <a href="javascrip" routerLink="/admin/moster/mosterEdit/{{cate.id }}"
                            class="btn btn-success btn-circle"
                        
                          >
                            <i class="fas fa-pencil-alt"></i>
                          </a >
                          <button                                 
                            class="btn btn-danger btn-circle"
                            (click)="detele(cate)"
                          >
                            <i class="fas fa-trash"></i>
                          </button></td>
                    </tr>
               
                </tbody>
            </table>
            <pagination-controls  (pageChange)="page = $event"></pagination-controls>
            
        </div>
    </div>
</div>
<!-- 
giải thích chức năng
kiến thức lý thuyết
 -->
